<section id="kontakt">
  <div class="container section">
    <h2>Kontakt</h2>
    <div class="h2-underline"></div>
    <p>Använd formuläret nedan för att skicka en förfrågan, eller ring eller mejla för mer information.</p>
    <div class="contact-row full">

      <div class="content-row-item contact-form">
        <form name="kontakt" id="kontaktform" novalidate>
          <div class="form-row">
            <div class="form-group">
              <label for="name">Namn</label>
              <input type="text" id="name" name="name" class="full" required="required">
            </div>
            <div class="form-group">
              <label for="email">E-post</label>
              <input type="email" id="email" name="email" class="full" required="required">
            </div>
          </div>
          <label for="message">Meddelande</label>
          <textarea name="message" id="message" class="full" rows="5" required></textarea>
          <button type="submit" class="btn btn-primary">Skicka</button>
        </form>
      </div>

      <ul class="content-row-item contact-info">
        <li class="contact-item">
          <img src="assets/location.svg" alt="Platssymbol" />
          Landskrona
        </li>
        <li class="contact-item">
          <img src="assets/envelope.svg" alt="E-postsymbol" />
          <a href="mailto:info@fixora.se">info@fixora.se</a>
        </li>
        <li class="contact-item">
          <img src="assets/phone.svg" alt="Telefonsymbol" />
          070 123 45 67
        </li>
        <li class="contact-item">
          <img src="assets/linkedin.svg" alt="LinkedInsymbol" />
          <a href="#" target="_blank" rel="noopener">Hitta mig på LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</section>
