<section id="kontakt">
  <div class="container section">
    <h2>Kontakta oss</h2>
    <p>Ring eller mejla oss för mer information, eller använd formuläret nedan för att skicka en förfrågan.</p>
    <div class="contact-row">
      <div class="contact-info">
        <h3>Kontaktuppgifter</h3>
        <p>Långgatan 123<br>
          123 45 Staden</p>
        <p>info@company.com</p>
        <p>070 123 45 67</p>
      </div>
      <div class="contact-form">
        <h3>Skicka en förfrågan</h3>
        <form name="kontakt" id="kontaktform" novalidate>
          <div class="form-group">
            <input type="text" id="name" class="form-control" placeholder="Namn" required="required">
          </div>
          <div class="form-group">
            <input type="email" id="email" class="form-control" placeholder="E-post" required="required">
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Meddelande" required></textarea>
          </div>
          <button type="submit" class="btn-primary">Skicka</button>
        </form>
      </div>
    </div>
  </div>
</section>