/* --------------------
    General styles
---------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border: 1px solid blue;
  padding: 20px 15px;
}

.section {
  align-items: flex-start;
}

.content-row {
  display: flex;
  justify-content: center;
  margin: 15px -15px 0;
}

.content-row-item {
  margin: 0 15px;
}

.full {
  width: 100%;
}

.between {
  justify-content: space-between;
}

/* --------------------
      Navigation
---------------------*/

.navbar {
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu > li {
  padding: 0 15px;
}

.hero-content {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* --------------------
        Team
---------------------*/
.photo-wrapper {
  width: 400px;
  height: 200px;
  border: 1px solid red;
}

/* --------------------
        Contact
---------------------*/
.contact-form {
  width: 65%;
}

.form-row {
  display: flex;
  margin: 0 -15px;
}

.form-group {
  width: 50%;
  margin-bottom: 15px;
  padding: 0 15px;
}

input[type = text], input[type = email], textarea {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
}

.contact-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height of form without submit btn */
  height: 145px;
}

/* --------------------
      Media queries
---------------------*/
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}



